<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no">
		<title>汇亚TT现代砖</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/swiper-3.4.2.min.css" />
		<link rel="stylesheet" href="css/index.css" />
		<!--<link rel="stylesheet" href="pcSlide/css/idangerous.swiper.css" />-->
		<script type="text/javascript" src="js/swiper-3.4.2.min.js" ></script>
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/scrollReveal.js" ></script>
        <script type="text/javascript" src="https://static.runoob.com/assets/vue/1.0.11/vue.min.js"></script>
        <script>
            //判断是否为手机端访问
            var uaTest = /Android|webOS|Windows Phone|iPhone|ucweb|ucbrowser|iPod|BlackBerry/i.test(navigator.userAgent.toLowerCase());
            var touchTest = 'ontouchend' in document;
            if(uaTest && touchTest){
              window.location.href = 'http://huiya.hengdikeji.com/api/huiyaphone/index.html';
            }
        </script>
	</head>
	<body id="vueMain">
        <div style="display: none;">
            <script src="https://s22.cnzz.com/z_stat.php?id=1264538472&web_id=1264538472" language="JavaScript"></script>
            <!--图片预加载-->
            <template v-for="item in product">
                <template v-for="items in item.banner">
                    <template v-for="items2 in items.big">
                        <img src="{{items2.thumb}}" alt="">
                    </template>

                </template>

            </template>

        </div>
		<div id="content" style="position: absolute;width: 100%;">
			<!--首页轮播-->
			<div id="banner">
				<div class="swiper-container swiper-container-banner">
			        <div class="swiper-wrapper">
			            <div class="swiper-slide" v-for="item in banners">
			            	<img :src="item.thumb" />
			            </div>
			        </div>
			        <!-- 如果需要导航按钮 -->
				    <div class="swiper-button-prev" id="prev"></div>
				    <div class="swiper-button-next" id="next"></div>
			   </div>  
			</div>
			<!--年轻-->
			<div id="young">
				<!--标题-->
				<div class="youngTitle">
					<ul>
						<li>
							<p data-scroll-reveal="enter top and move 10px  wait 0.5s">年轻人的生活砖家</p>
						</li>
						<li>
							<img src="titleImg/youngTitle.png" data-scroll-reveal="enter top and move 20px" />
						</li>
					</ul>
				</div>
				<!--相片展示-->
				<div class="youngBox">
					<div class="youndShow floatl">
						<img src="img/young1.png" data-scroll-reveal="enter left and move 20px"/>
						<img src="img/ydecorate.png" data-scroll-reveal="enter bottom and move 10px wait 0.1s" />
						<div class="youngText" data-scroll-reveal="enter bottom and move 20px wait 0.1s">
							<ul>
								<li>
									<img src="titleImg/young11.png" />
								</li>
								<li>
									<p>不仅要高大上</p>
								</li>
								<li>
									<p>还要个性奔放</p>
								</li>
							</ul>			
						</div>
					</div>
					<div class="youndShow floatl">
						<img src="img/young2.png" data-scroll-reveal="enter left and move 20px wait 0.1s"/>
						<img src="img/ydecorate.png" data-scroll-reveal="enter bottom and move 10px wait 0.2s"/>
						<div class="youngText" data-scroll-reveal="enter bottom and move 20px wait 0.2s">
							<ul>
								<li>
									<img src="titleImg/young22.png" />
								</li>
								<li>
									<p>黑白灰</p>
								</li>
								<li>
									<p>也能玩出时尚彩虹</p>
								</li>
							</ul>			
						</div>
					</div>
					<div class="youndShow floatl">
						<img src="img/young3.png" data-scroll-reveal="enter left and move 20px wait 0.2s"/>
						<img src="img/ydecorate.png" data-scroll-reveal="enter bottom and move 10px wait 0.3s"/>
						<div class="youngText" data-scroll-reveal="enter bottom and move 20px wait 0.3s">
							<ul>
								<li>
									<img src="titleImg/young33.png" />
								</li>
								<li>
									<p>年轻的心</p>
								</li>
								<li>
									<p>必须与时俱进</p>
								</li>
							</ul>			
						</div>
					</div>
					<div class="youndShow floatl" style="margin-right: 0px;">
						<img src="img/young4.png" data-scroll-reveal="enter left and move 20px wait 0.3s"/>
						<img src="img/ydecorate.png" data-scroll-reveal="enter bottom and move 10px wait 0.4s"/>
						<div class="youngText" data-scroll-reveal="enter bottom and move 20px wait 0.4s">
							<ul>
								<li>
									<img src="titleImg/young44.png" />
								</li>
								<li>
									<p>我的地盘 </p>
								</li>
								<li>
									<p>必须无可取代</p>
								</li>
							</ul>			
						</div>
					</div>
					<div class="clearl"></div>
				</div>
				<!--播放-->
				<div class="playBox">
					<a style="display: none;" href="javascript:;" onclick="videoPaly('http://ovy8sjkfb.bkt.clouddn.com/video1111.mp4')" data-scroll-reveal="enter bottom and move 20px">播放视频</a>
				</div>
			</div>
			<!--瓷砖展示-->
			<div id="tile">
				<div class="tileNav">
					<ul>		                                                                                     
						<li class="navs">
							<a href="###"  v-on:click="replaceBanner('bsys',0)"><p>芭莎岩石</p></a>
<!--							<div class="twoNav" style="left: 0px;">-->
<!--								<ul>-->
<!--									<li>-->
<!--										<a href="###">900x900mm</a>-->
<!--									</li>-->
<!--									<li>-->
<!--										<a href="###">600x600mm</a>-->
<!--									</li>-->
<!--									<li>-->
<!--										<a href="###">600x1200mm</a>-->
<!--									</li>-->
<!--								</ul>-->
<!--							</div>-->
						</li>
						<li class="navs">
							<a href="###" v-on:click="replaceBanner('tys',0)"><p>T石代</p></a>
<!--							<div class="twoNav">-->
<!--								<ul>-->
<!--									<li>-->
<!--										<a href="###">900x900mm</a>-->
<!--									</li>-->
<!--									<li>-->
<!--										<a href="###">900x1800mm</a>-->
<!--									</li>-->
<!--									<li>-->
<!--										<a href="###">600x1200mm</a>-->
<!--									</li>-->
<!--								</ul>-->
<!--							</div>-->
						</li>
						<li class="navs">
							<a href="###" v-on:click="replaceBanner('msnh',0)"><p>木色年华</p></a>
<!--							<div class="twoNav">-->
<!--								<ul>-->
<!--									<li>-->
<!--										<a href="###">900x900mm</a>-->
<!--									</li>-->
<!--									<li>-->
<!--										<a href="###">600x1200mm</a>-->
<!--									</li>-->
<!--								</ul>-->
<!--							</div>-->
						</li>
						<li>
							<img src="titleImg/tileTitle.png" data-scroll-reveal="enter top and move 20px"/>
						</li>
						<li class="navs">
							<a href="###" v-on:click="replaceBanner('xdbw',0)"><p>现代布纹</p></a>
<!--							<div class="twoNav">-->
<!--								<ul>-->
<!--									<li>-->
<!--										<a href="###">600x600mm</a>-->
<!--									</li>-->
<!--								</ul>-->
<!--							</div>-->
						</li>
						<li class="navs">
							<a href="###" v-on:click="replaceBanner('gyyx',0)"><p>工业印象</p></a>
<!--							<div class="twoNav">-->
<!--								<ul>-->
<!--									<li>-->
<!--										<a href="###">900x900mm</a>-->
<!--									</li>-->
<!--									<li>-->
<!--										<a href="###">600x600mm</a>-->
<!--									</li>-->
<!--									<li>-->
<!--										<a href="###">600x1200mm</a>-->
<!--									</li>-->
<!--								</ul>-->
<!--							</div>-->
						</li>
						<li class="navs">
							<a href="###" v-on:click="replaceBanner('dsjh',0)"><p>都市几何</p></a>
<!--							<div class="twoNav">-->
<!--								<ul>-->
<!--									<li>-->
<!--										<a href="###">900x900mm</a>-->
<!--									</li>-->
<!--                                    <li>-->
<!--                                        <a href="###">600x1200mm</a>-->
<!--                                    </li>-->
<!--								</ul>-->
<!--							</div>-->
						</li>
					</ul>
					<div class="clearl"></div>
				</div>

                <!--<div class="pc-slide">
                    <div class="view">
                        <div class="swiper-container">
                            <a class="swiper-button-next arrow-left" href="#"></a>
                            <a class="swiper-button-prev arrow-right" href="#"></a>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" v-for="item in productList.big">
                                    <a href="javascript:;" ><img :src="item.thumb" alt="" width="100%"></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="preview">
                        <div class="swiper-container">
                            <a class="arrow-left" href="#"></a>
                            <a class="arrow-right" href="#"></a>
                            <div class="swiper-wrapper" style="margin: 0 auto">
                                <template v-for="(key,item) in productList.small">
                                    <template v-if="key==0">
                                        <div class="swiper-slide active-nav">
                                            <img :src="item.thumb" alt="">
                                        </div>
                                    </template>
                                    <template v-else>
                                        <div class="swiper-slide">
                                            <img :src="item.thumb" alt="">
                                        </div>
                                    </template>
                                </template>

                                <div class="clearl"></div>
                            </div>
                        </div>
                    </div>
                </div>-->
                
                <div id="newBanner">
					<div class="swiper-container swiper-container-new">
						<div class="swiper-wrapper">
                            <template v-for="(key,item) in productList.big">
                                <template v-if="key==0">
                                    <div class="swiper-slide active-nav">
                                        <img :src="item.thumb" />
                                    </div>
                                </template>
                                <template v-else="">
                                    <div class="swiper-slide">
                                        <img :src="item.thumb" />
                                    </div>
                                </template>
                            </template>

						</div>
					</div>
				</div>
				<div id="oldBanner">
					<div class="swiper-container swiper-container-old">
						<div class="swiper-wrapper">
<!--                            <template v-for="(key,item) in productList.small">-->
<!--							<div class="swiper-slide" >-->
<!--								<div class="boxImg">-->
<!--									<img :src="item.thumb" />-->
<!--									<p>{{item.title}}</p>-->
<!--								</div>-->
<!--							</div>-->
<!--                            </template>-->
                            <div class="swiper-slide" >
                                <div class="boxImg">
                                    <img src="http://huiya-product.hengdikeji.com/pc-bashasmall.jpg" />
                                    <p>1</p>
                                </div>
                                <div class="boxImg">
                                    <img src="http://huiya-product.hengdikeji.com/pc-bashasmall.jpg" />
                                    <p>2</p>
                                </div>
                                <div class="boxImg">
                                    <img src="http://huiya-product.hengdikeji.com/pc-bashasmall.jpg" />
                                    <p>3</p>
                                </div>
                            </div>
						</div>	
					</div>	
					<div class="swiper-button-prev" id="prev1"></div>
    				<div class="swiper-button-next" id="next1"></div>
				</div>
			</div>
			<!--视频-->
			<div id="video">
				<div class="videoBox" onclick="videoPaly('{{productVideo.video}}')">
					<img src="img/videoBkg.png" />
					<div class="videoplay">
						<ul>
							<li>
								<p>{{productVideo.title}}</p>
							</li>

							<li>
								<a href="###"><img src="img/bigplay.png" /></a>
							</li>
							<li>
								<p>播放视频</p>
							</li>
						</ul>
					</div>

				</div>
			</div>
			<!--芭莎-->
			<div id="produceShowBS">
				<div class="produceShow">
					<div class="produceLeft floatl">
						<img src="img/bslBkg.jpg">
						<div class="bslron">
							<img src="img/bslimg01.png" data-scroll-reveal="enter left and move 30px over 0.8s"/>
							<img src="img/bslimg02.png" data-scroll-reveal="enter left and move 30px wait 0.1s over 0.8s"/>
							<img src="img/bslimg03.png" data-scroll-reveal="enter left and move 30px wait 0.2s over 0.8s"/>
							<img src="titleImg/bst06.png" data-scroll-reveal="enter top and move 30px over 1.0s"/>
							<img src="titleImg/bst07.png" data-scroll-reveal="enter top and move 25px over 1.0s"/>
							<img src="titleImg/bst08.png" data-scroll-reveal="enter top and move 20px over 1.0s"/>
						</div>
					</div>
					<div class="produceRight floatr">
						<img src="img/bsrBkg.png">
						<div class="bsron">
							<img src="titleImg/bst01.png" data-scroll-reveal="enter right and move 50px over 0.8s"/>
							<img src="titleImg/bst02.png" data-scroll-reveal="enter right and move 50px over 0.9s"/>
							<img src="titleImg/bst03.png" data-scroll-reveal="enter right and move 50px over 1.0s"/>
							<img src="titleImg/bst04.png" data-scroll-reveal="enter right and move 50px over 1.1s"/>
							<img src="titleImg/bst05.png" data-scroll-reveal="enter right and move 50px over 1.2s"/>
						</div>
					</div>
					<div class="clearboth"></div>
				</div>
				<div class="know" data-scroll-reveal="enter bottom and move 20px over 1.0s">
					<a href="###">进一步了解</a>
				</div>
			</div>
			<!--T石代-->
			<div id="produceShowT">
				<div class="produceShow">
					<div class="produceL floatl">
						<img src="img/tsdlBkg.png">
						<div class="bsron">
							<img src="titleImg/tsdt01.png" data-scroll-reveal="enter left and move 50px over 0.8s"/>
							<img src="titleImg/tsdt02.png" data-scroll-reveal="enter left and move 50px over 0.9s"/>
							<img src="titleImg/tsdt03.png" data-scroll-reveal="enter left and move 50px over 1.0s"/>
							<img src="titleImg/tsdt04.png" data-scroll-reveal="enter left and move 50px over 1.1s"/>
							<img src="titleImg/tsdt05.png" data-scroll-reveal="enter left and move 50px over 1.2s"/>
						</div>
					</div>
					<div class="produceR floatr">
						<img src="img/tsdrBkg.png">
						<div class="bslron">
							<img src="img/tsdImg01.png" data-scroll-reveal="enter right and move 30px over 0.8s"/>
							<img src="img/tsdImg02.png" data-scroll-reveal="enter right and move 30px wait 0.1s over 0.8s"/>
							<img src="img/tsdImg03.png" data-scroll-reveal="enter right and move 30px wait 0.2s over 0.8s"/>
							<img src="titleImg/tsdt06.png" data-scroll-reveal="enter top and move 30px over 1.0s"/>
							<img src="titleImg/tsdt07.png" data-scroll-reveal="enter top and move 25px over 1.0s"/>
							<img src="titleImg/tsdt08.png" data-scroll-reveal="enter top and move 20px over 1.0s"/>
						</div>
					</div>
					<div class="clearboth"></div>
				</div>
				<div class="know" data-scroll-reveal="enter bottom and move 20px over 1.0s">
					<a href="###">进一步了解</a>
				</div>
			</div>
			<!--木色年华-->
			<div id="produceShowMS">
				<div class="produceShow">
					<div class="produceLeft floatl">
						<img src="img/mslBkg.jpg">
						<div class="bslron">
							<img src="img/mslImg01.png" data-scroll-reveal="enter left and move 30px over 0.8s"/>
							<img src="img/mslImg02.png" data-scroll-reveal="enter left and move 30px wait 0.1s over 0.8s"/>
							<img src="img/mslImg03.png" data-scroll-reveal="enter left and move 30px wait 0.2s over 0.8s"/>
							<img src="titleImg/mst06.png" data-scroll-reveal="enter top and move 30px over 1.0s"/>
							<img src="titleImg/mst07.png" data-scroll-reveal="enter top and move 25px over 1.0s"/>
							<img src="titleImg/mst08.png" data-scroll-reveal="enter top and move 20px over 1.0s"/>
						</div>
					</div>
					<div class="produceRight floatr">
						<img src="img/msrBkg.jpg">
						<div class="bsron">
							<img src="titleImg/mst01.png" data-scroll-reveal="enter right and move 50px over 0.8s"/>
							<img src="titleImg/mst02.png" data-scroll-reveal="enter right and move 50px over 0.9s"/>
							<img src="titleImg/mst03.png" data-scroll-reveal="enter right and move 50px over 1.0s"/>
							<img src="titleImg/mst04.png" data-scroll-reveal="enter right and move 50px over 1.1s"/>
							<img src="titleImg/mst05.png" data-scroll-reveal="enter right and move 50px over 1.2s"/>
						</div>
					</div>
					<div class="clearboth"></div>
				</div>
				<div class="know" data-scroll-reveal="enter bottom and move 20px over 1.0s">
					<a href="###">进一步了解</a>
				</div>
			</div>
			<!--现代布纹-->
			<div id="produceShowXD">
				<div class="produceShow">
					<div class="produceL floatl">
						<img src="img/xdlBkg.jpg">
						<div class="bsron">
							<img src="titleImg/xdt01.png" data-scroll-reveal="enter left and move 50px over 0.8s"/>
							<img src="titleImg/xdt02.png" data-scroll-reveal="enter left and move 50px over 0.9s"/>
							<img src="titleImg/xdt03.png" data-scroll-reveal="enter left and move 50px over 1.0s"/>
							<img src="titleImg/xdt04.png" data-scroll-reveal="enter left and move 50px over 1.1s"/>
							<img src="titleImg/xdt05.png" data-scroll-reveal="enter left and move 50px over 1.2s"/>
						</div>
					</div>
					<div class="produceR floatr">
						<img src="img/xdrBkg.jpg">
						<div class="bslron">
							<img src="img/xdrImg01.png" data-scroll-reveal="enter right and move 30px over 0.8s"/>
							<img src="img/xdrImg02.png" data-scroll-reveal="enter right and move 30px wait 0.1s over 0.8s"/>
							<img src="img/xdrImg03.png" data-scroll-reveal="enter right and move 30px wait 0.2s over 0.8s"/>
							<img src="titleImg/xdt06.png" data-scroll-reveal="enter top and move 30px over 1.0s"/>
							<img src="titleImg/xdt07.png" data-scroll-reveal="enter top and move 25px over 1.0s"/>
							<img src="titleImg/xdt08.png" data-scroll-reveal="enter top and move 20px over 1.0s"/>
						</div>
					</div>
					<div class="clearboth"></div>
				</div>
				<div class="know" data-scroll-reveal="enter bottom and move 20px over 1.0s">
					<a href="###">进一步了解</a>
				</div>
			</div>
			<!--工业印象-->
			<div id="produceShowGY">
				<div class="produceShow">
					<div class="produceLeft floatl">
						<img src="img/bslBkg.jpg">
						<div class="bslron">
							<img src="img/bslimg01.png" data-scroll-reveal="enter left and move 30px over 0.8s" />
							<img src="img/bslimg02.png" data-scroll-reveal="enter left and move 30px wait 0.1s over 0.8s"/>
							<img src="img/bslimg03.png" data-scroll-reveal="enter left and move 30px wait 0.2s over 0.8s"/>
							<img src="titleImg/bst06.png" data-scroll-reveal="enter top and move 30px over 1.0s"/>
							<img src="titleImg/bst07.png" data-scroll-reveal="enter top and move 25px over 1.0s"/>
							<img src="titleImg/bst08.png" data-scroll-reveal="enter top and move 20px over 1.0s"/>
						</div>
					</div>
					<div class="produceRight floatr">
						<img src="img/bsrBkg.png">
						<div class="bsron">
							<img src="titleImg/bst01.png" data-scroll-reveal="enter right and move 50px over 0.8s"/>
							<img src="titleImg/bst02.png" data-scroll-reveal="enter right and move 50px over 0.9s"/>
							<img src="titleImg/gyt03.png" data-scroll-reveal="enter right and move 50px over 1.0s"/>
							<img src="titleImg/bst04.png" data-scroll-reveal="enter right and move 50px over 1.1s"/>
							<img src="titleImg/bst05.png" data-scroll-reveal="enter right and move 50px over 1.2s"/>
						</div>
					</div>
					<div class="clearboth"></div>
				</div>
				<div class="know" data-scroll-reveal="enter bottom and move 20px over 1.0s">
					<a href="###">进一步了解</a>
				</div>
			</div>
			<!--工匠-->
			<div id="worker">
				<div class="worker">
					<img src="img/wordBkg.png" />
					<div class="workContainer">
						<img src="img/worklImg.png" data-scroll-reveal="enter left and move 30px over 0.8s"/>
						<img src="titleImg/wordtl.png" data-scroll-reveal="enter right and move 30px over 1.0s"/>
						<img src="img/workrImg.png" data-scroll-reveal="enter left and move 30px over 1.2s"/>
						<img src="titleImg/wordtr.png" data-scroll-reveal="enter right and move 30px over 1.4s"/>
					</div>
				</div>
			</div>
			<!--尾部-->
			<div id="foot">
				<div class="foot" style="position: relative;">					
					<a href="http://huiya.hengdikeji.com/api/" target="_blank"><img src="img/foot.jpg"/></a>
					<img src="img/hand.png" id="hands" />
				</div>
			</div>
		</div>
		<div id="popWindow">
			<div>
				<p style="font-size: 50px;text-align: center;padding-top: 20%;">全程无意外，收工！！！</p>
				<p style="font-size: 50px;text-align: center;padding-top: 20%;">全程无意外，收工！！！</p>
				<p style="font-size: 50px;text-align: center;padding-top: 20%;">全程无意外，收工！！！</p>
				<p style="font-size: 50px;text-align: center;padding-top: 20%;">全程无意外，收工！！！</p>
				<p style="font-size: 50px;text-align: center;padding-top: 20%;">全程无意外，收工！！！</p>
				<p style="font-size: 50px;text-align: center;padding-top: 20%;">全程无意外，收工！！！</p>
			</div>
		</div>
        <div class="video_box fb-position-fixed">
            <video  controls="controls">
                您的浏览器不支持 video 标签。
            </video>
            <div class="fb-position-absolute video_close">X</div>
        </div>
	</body>
	<script type="text/javascript" src="js/index.js" ></script>
    <!--<script src="pcSlide/js/idangerous.swiper.min.js"></script>-->
	<script>
		//视频播放按钮垂直居中
		$('#video .videoplay').css('padding-top',($('#video').height()-$('#video .videoplay').height())/2);
		(function(){
			window.scrollReveal = new scrollReveal({ reset: true, move: '50px'});
		})();

	</script>
    <script type="text/javascript" src="js/vue.js" ></script>
</html>
